html, body{
	margin: 0;
	height: 100%;
	width: 100%;
    font-family: 'Roboto';
}

#scroll{
	display: flex;
	flex-direction: column;
}

.part{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#part-1{

}

#part-1 svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #C62828;
}

#part-1 > div{
	position: absolute;
	z-index: 2;
	color: white;
}