.container{
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 20px;
}

.button-container{
	display:flex;
	justify-content: center;
}

.container .row{
	width: calc(100% - 20px);
	padding: 10px;
}

.courses{
	display: flex;
    align-items: center;
}

.courses p{
	flex: 1;
	margin: 0;
	margin-right: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.courses .fa-star{
	color: #212121;
}

.courses .star-selected{
	color: #FFEB3B;
}