{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/autofill.css">
{% endblock %}

{% block body %}

<div class="shadow container">
	<div id="selected-courses">

	</div>
	<div class="row">
		<div id="select-autofill"></div>
	</div>
</div>

<div class="button-container">
	<button class="btn shadow" onclick="predictContent()">PREDICT</button>
</div>

<div class="shadow container" id="predicted-container" style="display:none">
	<h2 class="center">Recommended For You</h2>
	<div id="predicted-courses-content">
		
	</div>
</div>



<script src="js/autofill.js"></script>
<script src="js/index.js"></script>

{% endblock %}